<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/xadmin.js"></script>

</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">acenews后台管理系统</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" action="backlogin" >
        <input name="useraccount" placeholder="账户"  type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="userpass" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
        <hr class="hr15">
        <input id="submit" th:value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >

        <label th:if="${msg} == null" th:text="${msg}"></label>

    </form>
</div>
<!-- 底部结束 -->
</body>
<script>
    $("#submit").click(function(){
        var useraccount = $("input[name='useraccount']").val();
        var userpass = $("input[name='userpass']").val();
        if(null == useraccount || "" == useraccount){
            alert("账户不能为空！");
        }else if(null == userpass || "" == userpass){
            alert("密码不能为空！");
        }else{
            $.ajax({
                url:"backlogin" ,
                type:"post",
                data: {"useraccount":useraccount,"userpass":userpass},
                success: function(result){
                    if(result.result=="0000"){
                        alert(result.resultMsg);
                        location.href = result.resultUrl;
                    }else{
                        alert(result.resultMsg);
                        location.href = result.resultUrl;
                    }
                }
            });
        }
    });
</script>
</html>